.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  border: none;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.project-image {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}


.selected-project-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1055;
  max-width: 90%;
  width: 600px;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 0.3s ease;
}

.selected-project-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.selected-project-popup p {
    font-size: 14px;
  }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 576px) {
  .selected-project-popup h4 {
    font-size: 18px;
  }

  .selected-project-popup p {
    font-size: 10px;
  }

   .selected-project-popup {
    top: 5%;
    width: 95%;
    padding: 1rem;
  }
}

